@media screen and (max-width: 480px) {
  #main {
    width: 80%;
  }

  #app-header {
    width: 100%;
    justify-content: space-around;
    margin-left: 1rem;
  }

  .input {
    width: 75px;
  }

  .input-label {
    font-size: 8px;
  }

  .circle {
    width: 50px;
    height: 50px;
    top: -25px;
    left: 40%;
    right: 40%;
  }
  .age,
  .text-ages {
    font-size: 32px;
  }
}
